@import url('https://fonts.googleapis.com/css2?family=Allura&family=Oswald&family=Roboto:wght@500&family=Ubuntu&display=swap');

/* Scroll Bar*/
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(209, 138, 5) white;
    padding: 10px;
  }
  
  /* This Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(68, 10, 226, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(75, 1, 213);
    border-radius: 20px;
    border: 3px solid white;
  }

.header{
    font-size: bold;
    float: left;
    padding-left: 5px;
    font-family: 'Oswald', sans-serif;
}   
th{
    color: #fff;
}

.table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
