@import url('https://fonts.googleapis.com/css2?family=Allura&family=Oswald&family=Roboto:wght@500&family=Ubuntu&display=swap');
*{
    /*height: 500px;
    width: 400px;
    border: 90px;
    border-color: black;
*/}
.header{
    float: left;
    padding-left: 5px;
    font-family: 'Oswald', sans-serif;
}   
th{
    color: #fff;
}